.one {

    display: flex;
    justify-content: center;

}
.o{
    margin-right: 100px;
}
.n{
    margin-right: 100px;
}
.e{
    margin-right: 100px;
}
.t{
    margin-right: 100px;
}
.w{
    margin-right: 100px;
}
.p{
    margin-right: 100px;
}
.two{
    display: flex;
    justify-content: center;

}
.three {
    display: flex;
    justify-content: center;
}